body {
  background-color: gray;
}

label {
  font-size: 22px;
}

#header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  height: 7vh;
  width: 100%;
  background-color: gray;
  z-index: 2;
}

#icon {
  color: white;
  font-size: 30px;
  margin-left: 5px;
  transition: text-shadow 0.8s;
}

#icon:hover {
  text-shadow: 2px 2px 5px rgb(82, 82, 82);
}

#searchbox {
  height: 40px;
  width: 280px;
  border-radius: 125px;
  border: none;
  font-size: 20px;
  padding: 8px;
}

#searchbox-div {
  position: relative;
}

.results-visible {
  visibility: visible;
  position: absolute;
  background-color: gray;
  width: 100%;
  height: auto;
}

.results-visible a {
  display: block;
}

.results-nonvisible {
  visibility: hidden;
  position: absolute;
}

.video-results {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

.auth {
  height: 45px;
  width: 105px;
  border-radius: 10%;
  background-color: chocolate;
  border: none;
  margin: 5px;
  padding: 8px;
  font-size: 15px;
  cursor: pointer;
  transition: box-shadow 0.8s;
}

.auth:hover {
  box-shadow: 2px 2px 5px rgb(82, 82, 82);
}

#loginpage {
  position: fixed;
  top: 25%;
  left: 37%;
  right: 37%;
  bottom: 25%;
  background-color: purple;
  z-index: 1;
}

#loginpage-unvisible {
  display: none;
}

#registerpage {
  position: fixed;
  top: 25%;
  left: 37%;
  right: 37%;
  bottom: 25%;
  background-color: green;
  z-index: 1;
}

#loginform {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 80%;
}

.credentials {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-left: 5px;
  font-size: 20px;
  border: none;
  border-radius: 10px;
}

#submitbtn {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

#main {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  top: 7vh;
  left: 8%;
  background-color: gray;
  height: 100%;
  width: 92%;
}

#sidebar {
  position: fixed;
  top: 10vh;
  right: 92%;
  background-color: chocolate;
  height: 100vh;
  width: 8%;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li a {
  display: block;
  font-size: 20px;
  color: black;
}

#content-1 {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: gray;
  width: 20vw;
  height: 28vh;
  margin: 5px;
  margin-left: 30px;
  border: solid black;
}

.thumbnail {
  width: 20vw;
  height: 24vh;
}

.movie-name {
  position: absolute;
  color: black;
  font-size: 18px;
  bottom: 5px;
  margin: 0;
}

#videocontent {
  position: relative;
  display: grid;
  top: 10vh;
  height: 100vh;
  width: 100%;
}

#mainvideo {
  background-color: chocolate;
  display: grid;
  grid-template-rows: 50vh 8.3vh 22.6vh 27.2vh;
  align-items: center;
  justify-items: center;
}

#video {
  display: flex;
  justify-content: center;
  background-color: chocolate;
  width: 95%;
  height: 95%;
  margin-top: 12px;
}

#video {
  width: 95%;
  height: 100%;
}

#description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: chocolate;
  width: 95%;
  height: 95%;
  margin-top: 8px;
  border: solid ;
}

#title {
  font-size: 20px;
  margin-left: 8px;
}

.like {
  padding:15px 25px 15px 25px;
  margin-right: 8px;
  font-size: 18px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.dislike {
  padding:15px 25px 15px 25px;
  margin-right: 8px;
  font-size: 18px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.liked {
  padding:15px 25px 15px 25px;
  margin-right: 8px;
  font-size: 18px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: blue;
}

.disliked {
  padding:15px 25px 15px 25px;
  margin-right: 8px;
  font-size: 18px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: blue;
}

#info {
  background-color: chocolate;
  width: 95%;
  height: 95%;
}

#comments {
  background-color: gray;
  width: 95%;
  height: 95%;
  margin-top: 8px;
  display: flex;
  flex-direction: column;
}

#make-comment {
  display: flex;
  gap: 6px;
  margin-bottom: 10px;
}

#comment-place {
  width: 700px;
  height: 40px;
  border: none;
  margin-top: 8px;
}

.comment {
  display: flex;
  background-color: gray;
  width: 100%;
  height: auto;
  gap: 10px;
  margin-bottom: 7px;
}

.profile-photo {
  height: 60px;
  width: 60px;
  border-radius: 8px;
}

#close {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 8px;
  font-size: 25px;
  cursor: pointer;
}

.video-player-test {
  background-color: chocolate;
  width: 50vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  position: relative;
}

.video-player-test:hover .controls-test{
  display: block;
}

#video-element-test {
  width: max-content;
}

.controls-test {
  display: none;
  width: 87%;
  position: absolute;
  bottom: 0;
}

.bar-test {
  accent-color: chocolate;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  width: 100%;
  height: 8px;
}

.volume-test {
  accent-color: chocolate;
  cursor: pointer;
  position: absolute;
  left: 50px;
  bottom: 5px;
  width: 15%;
  height: 5px;
}

#volume-icon {
  position: absolute;
  left: 30px;
  bottom: 0;
  height: 20px;
  color: white;
}

.play-pause-test {
  background-color: transparent;
  position: absolute;
  left: 0;
  bottom: 0;
  color: white;
  border: none;
  cursor: pointer;
}

#video-time {
  position: absolute;
  color: white;
  bottom: 0;
  right: 50px;
}

#fullscreen {
  position: absolute;
  bottom: 0;
  right: 0;
  border: none;
  background-color: transparent;
  color: white;
  cursor: pointer;
}
